
<div class="card-text">
<p>{{post.post}} - <span class="font-weight-light">{{post.user}}</span></p>

</div>
<div>
    {{nLike}}<button  class="btn btn-primary" (click)="like()">like</button>
</div>

<div class="form-group">
    <label for="comment">commento</label>
    <input class="form-control" type="text" name="comment" #comment> 
    <button class="btn btn-secondary" (click)="commenta(comment.value)" placeholder="commenta il post">commenta</button>
</div>

<div *ngFor="let c of post.commentList">
    {{c}}
</div>